@import '../node_modules/bulma/sass/utilities/initial-variables';
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');

$primary-color-dark: #616161;
$primary-color: #9e9e9e;
$primary-color-light: #f5f5f5;
$primary-color-text: #212121;
$accent-color: #ff4081;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;

$blue: #72d0eb;
// Add pink and its invert
$pink: #ffb3b3;
$pink-invert: #fff;
// Add a serif family
$family-sans-serif: 'Ubuntu', sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;
// Use the existing orange as the danger color
$danger: $orange;
// Use the new serif family
$family-primary: $family-sans-serif;

$navbar-height: 80px;

@import '../node_modules/bulma/bulma';

.souhrn {
  text-align: center;
  border-top: 1px solid $grey;
}
.hero-bg {
  background: url('img/background2.jpg');
}
.icon {
  margin-right: 2rem;
  cursor: pointer;
  &:hover {
    transition: 0.3s ease;
    color: #ff9a9a !important;
  }
}
.z-depth-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
img {
  cursor: pointer;
}
.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  .navbar-item img {
    max-height: none;
  }
}

@media (max-width: 768px) {
  .navbar-item img {
    width: 200px;
  }
  .form {
    width: 280px !important;
    padding: 0.25rem 0;
  }
  footer > .column {
    text-align: center !important;
  }
  .icon {
    margin-right: 5px;
  }
}
